// OpenSearch brand colors for just-the-docs

$link-color: #0055A6;
$btn-primary-color: #4B1E5F;
$body-heading-color: #002A3A;
$body-text-color: #1B4859;
$sidebar-color: #F5F7F7;
$code-background-color: #F5F7F7;
$table-border-color: #D9E1E2;
$nav-child-link-color: #005EB8;
$body-background-color: #FFFFFF;
