//
// Brand colors
//

$blue-300: #0055A6;
$blue-200: #005EB8; // Pacific Blue
$blue-100: #337EC6;
$blue-000: #80AFDC;

$blue-dk-300: #003b5c; // Deep Blue Sea
$blue-dk-200: #47738D;
$blue-dk-100: #A3BDCC;
$blue-dk-000: #E6EEF2;

$blue-vibrant-300: #00a3e0; // Open Sky
$blue-vibrant-200: #46BDE9;
$blue-vibrant-100: #92D9F3;
$blue-vibrant-000: #CCF1FF;

$blue-lt-300: #b9d9eb; // Pacific Sky
$blue-lt-200: #C0DDED;
$blue-lt-100: #D5E8F3;
$blue-lt-000: #EAF4F9;

$white: #FFFFFF;

$grey-dk-300: #002A3A; // Midnight Sky
$grey-dk-200: #1B4859;
$grey-dk-100: #346173;
$grey-dk-000: #4D8399;

$grey-lt-300: #D9E1E2; // San Francisco Fog
$grey-lt-000: #F5F7F7;

$purple-000: #963CBD; // Purple Sage
$purple-100: #8736AA;
$purple-200: #692A84;
$purple-300: #4B1E5F;

$green-000: #2CD5C4; // Seafoam Mint
$green-100: #28C0B0;
$green-200: #1F9589;
$green-300: #166B62;

$yellow-000: #FFB81C; // Golden Poppy
$yellow-100: #CC9316;
$yellow-200: #996E11;
$yellow-300: #664A0B;

$red-000: #F65275; // Malibu Sunrise
$red-100: #DD4A69;
$red-200: #AC3952;
$red-300: #7B293B;

$body-background-color: $white;
$sidebar-color: $grey-lt-000;
$code-background-color: $grey-lt-000;

$body-text-color: $grey-dk-200;
$body-heading-color: $grey-dk-300;
$nav-child-link-color: $blue-200;
$link-color: $blue-300;
$btn-primary-color: $purple-300;
$base-button-color: $grey-lt-300;
$table-border-color: $grey-lt-300;

// $border-color: $grey-dk-200;
// $search-result-preview-color: $grey-dk-000;
// $search-background-color: $grey-dk-250;
// $table-background-color: $grey-dk-250;
// $feedback-color: darken($sidebar-color, 3%);

$content-width: 740px;
$max-content-width: 1080px;
$top-button-margin: 48px;
$toc-width: 264px;

$media-queries: (
  xs: 320px,
  sm: 462.5px,
  md: $content-width,
  lg: $content-width + $nav-width,
  xl: $content-width + $nav-width + $toc-width
);