//
// Brand colors
//

$blue-300: #0055A6;
$blue-200: #005EB8; // Pacific Blue
$blue-100: #337EC6;
$blue-000: #80AFDC;

$blue-dk-300: #003b5c; // Deep Blue Sea
$blue-dk-200: #47738D;
$blue-dk-100: #A3BDCC;
$blue-dk-000: #E6EEF2;

$blue-vibrant-300: #00a3e0; // Open Sky
$blue-vibrant-200: #46BDE9;
$blue-vibrant-100: #92D9F3;
$blue-vibrant-000: #CCF1FF;

$blue-lt-300: #b9d9eb; // Pacific Sky
$blue-lt-200: #C0DDED;
$blue-lt-100: #D5E8F3;
$blue-lt-000: #EAF4F9;

$white: #FFFFFF;

$grey-dk-300: #002A3A; // Midnight Sky
$grey-dk-200: #1B4859;
$grey-dk-100: #346173;
$grey-dk-000: #4D8399;

$grey-lt-300: #D9E1E2; // San Francisco Fog
$grey-lt-000: #F5F7F7;

$purple-000: #963CBD; // Purple Sage
$purple-100: #8736AA;
$purple-200: #692A84;
$purple-300: #4B1E5F;

$green-000: #2CD5C4; // Seafoam Mint
$green-100: #28C0B0;
$green-200: #1F9589;
$green-300: #166B62;

$yellow-000: #FFB81C; // Golden Poppy
$yellow-100: #CC9316;
$yellow-200: #996E11;
$yellow-300: #664A0B;

$red-000: #F65275; // Malibu Sunrise
$red-100: #DD4A69;
$red-200: #AC3952;
$red-300: #7B293B;

$light-theme-navigation-background: rgba(0, 163, 224, 0.05);
$primary-deep-blue-sea-s3: #001E30;
$primary-deep-blue-sea-t1: #2C5E7A;
$primary-open-sky: #00A3E0;
$primary-open-sky-s3: #003551;
$primary-open-sky-s2: #006D97;
$primary-open-sky-t1: #4FB3E3;
$primary-open-sky-t2: #9BCFED;
$primary-open-sky-t3: #E1F0F9;
$primary-pacific-sky-t2: #DCEBF4;
$primary-pacific-sky-t3: #F4F8FB;

$body-background-color: $white;
$sidebar-color: $grey-lt-000;
$code-background-color: $grey-lt-000;

$body-text-color: $grey-dk-200;
$body-heading-color: $grey-dk-300;
$nav-child-link-color: $blue-200;
$link-color: $blue-300;
$btn-primary-color: $purple-300;
$base-button-color: $grey-lt-300;
$table-border-color: $grey-lt-300;

// $border-color: $grey-dk-200;
// $search-result-preview-color: $grey-dk-000;
// $search-background-color: $grey-dk-250;
// $table-background-color: $grey-dk-250;
// $feedback-color: darken($sidebar-color, 3%);

$content-width: 740px;
$max-content-width: 1080px;
$top-button-margin: 48px;
$toc-width: 264px;

$media-queries: (
  xs: 320px,
  sm: 462.5px,
  md: $content-width,
  lg: $content-width + $nav-width,
  xl: $content-width + $nav-width + $toc-width
);

// override the highlighting colors 

.highlight .c {
  color: $blue-dk-200;
} // comment //
.highlight .err {
  color: $grey-dk-300;
} // error //
.highlight .g {
  color: $grey-dk-300;
} // generic //
.highlight .k {
  color: #990073;
} // keyword //
.highlight .l {
  color: $grey-dk-300;
} // literal //
.highlight .n {
  color: $grey-dk-300;
} // name //
.highlight .o {
  color: $purple-100;
} // operator //
.highlight .x {
  color: #cb4b16;
} // other //
.highlight .p {
  color: $grey-dk-300;
} // punctuation //
.highlight .cm {
  color: $blue-dk-200;
} // comment.multiline //
.highlight .cp {
  color: $purple-000;
} // comment.preproc //
.highlight .c1 {
  color: $blue-dk-200;
} // comment.single //
.highlight .cs {
  color: $purple-000;
} // comment.special //
.highlight .gd {
  color: #2aa198;
} // generic.deleted //
.highlight .ge {
  font-style: italic;
  color: $grey-dk-300;
} // generic.emph //
.highlight .gr {
  color: #dc322f;
} // generic.error //
.highlight .gh {
  color: #cb4b16;
} // generic.heading //
.highlight .gi {
  color: $purple-000;
} // generic.inserted //
.highlight .go {
  color: $grey-dk-300;
} // generic.output //
.highlight .gp {
  color: $grey-dk-300;
} // generic.prompt //
.highlight .gs {
  font-weight: bold;
  color: $grey-dk-300;
} // generic.strong //
.highlight .gu {
  color: #cb4b16;
} // generic.subheading //
.highlight .gt {
  color: $grey-dk-300;
} // generic.traceback //
.highlight .kc {
  color: #cb4b16;
} // keyword.constant //
.highlight .kd {
  color: #268bd2;
} // keyword.declaration //
.highlight .kn {
  color: $purple-000;
} // keyword.namespace //
.highlight .kp {
  color: $purple-000;
} // keyword.pseudo //
.highlight .kr {
  color: #268bd2;
} // keyword.reserved //
.highlight .kt {
  color: #dc322f;
} // keyword.type //
.highlight .ld {
  color: $grey-dk-300;
} // literal.date //
.highlight .m {
  color: #2aa198;
} // literal.number //
.highlight .s {
  color: #2aa198;
} // literal.string //
.highlight .na {
  color: #555;
} // name.attribute //
.highlight .nb {
  color: #b58900;
} // name.builtin //
.highlight .nc {
  color: #268bd2;
} // name.class //
.highlight .no {
  color: #cb4b16;
} // name.constant //
.highlight .nd {
  color: #268bd2;
} // name.decorator //
.highlight .ni {
  color: #cb4b16;
} // name.entity //
.highlight .ne {
  color: #cb4b16;
} // name.exception //
.highlight .nf {
  color: #268bd2;
} // name.function //
.highlight .nl {
  color: #555;
} // name.label //
.highlight .nn {
  color: $grey-dk-300;
} // name.namespace //
.highlight .nx {
  color: #555;
} // name.other //
.highlight .py {
  color: $grey-dk-300;
} // name.property //
.highlight .nt {
  color: #268bd2;
} // name.tag //
.highlight .nv {
  color: #268bd2;
} // name.variable //
.highlight .ow {
  color: $purple-000;
} // operator.word //
.highlight .w {
  color: $grey-dk-300;
} // text.whitespace //
.highlight .mf {
  color: #2aa198;
} // literal.number.float //
.highlight .mh {
  color: #2aa198;
} // literal.number.hex //
.highlight .mi {
  color: #2aa198;
} // literal.number.integer //
.highlight .mo {
  color: #2aa198;
} // literal.number.oct //
.highlight .sb {
  color: $blue-dk-200;
} // literal.string.backtick //
.highlight .sc {
  color: #2aa198;
} // literal.string.char //
.highlight .sd {
  color: $grey-dk-300;
} // literal.string.doc //
.highlight .s2 {
  color: #2aa198;
} // literal.string.double //
.highlight .se {
  color: #cb4b16;
} // literal.string.escape //
.highlight .sh {
  color: $grey-dk-300;
} // literal.string.heredoc //
.highlight .si {
  color: #2aa198;
} // literal.string.interpol //
.highlight .sx {
  color: #2aa198;
} // literal.string.other //
.highlight .sr {
  color: #dc322f;
} // literal.string.regex //
.highlight .s1 {
  color: #2aa198;
} // literal.string.single //
.highlight .ss {
  color: #2aa198;
} // literal.string.symbol //
.highlight .bp {
  color: #268bd2;
} // name.builtin.pseudo //
.highlight .vc {
  color: #268bd2;
} // name.variable.class //
.highlight .vg {
  color: #268bd2;
} // name.variable.global //
.highlight .vi {
  color: #268bd2;
} // name.variable.instance //
.highlight .il {
  color: #2aa198;
} // literal.number.integer.long //