<section class="os-banner">
    <header class="banner-head" style="background-image: url('{{site.url}}{{site.baseurl}}/images/graphic-bg.png')">
        <div class="banner-text-div">
            <span class="banner-text-header">OpenSearch Documentation</span>
            <p class="banner-text-description">Learn to use OpenSearch, the highly scalable and extensible open-source software suite for search, analytics, observability, and other data-intensive applications.</p>
        </div>
        <div>
            <button class="btn-contribute"><span>Contribute<svg width="20" viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></span></button>
        </div>
    </header>
</section>   