<div class="card-container-wrapper">
  <p class="heading-main">Explore OpenSearch documentation</p>
  <div class="card-container">
    <div class="card">
      <a href="{{site.url}}{{site.baseurl}}/about/" class='card-link'></a>
        <p class="heading">OpenSearch and OpenSearch Dashboards</p>
        <p class="description">Learn how to power up your search</p>
        <button class="last-link">Documentation &#x2192;</button>
      </div>
  
  
    <div class="card">
      <a href="{{site.url}}{{site.baseurl}}/data-prepper/" class='card-link'></a>
        <p class="heading">Data Prepper</p>
        <p class="description">Prepare your data for OpenSearch</p>
        <button class="last-link" >Documentation &#x2192;</button>
      </div>
  
    <div class="card">
      <a href="{{site.url}}{{site.baseurl}}/clients/" class='card-link'></a>
        <p class="heading">Clients</p>
        <p class="description">OpenSearch in your programming language</p>
        <button class="last-link">Documentation &#x2192;</button>
      </div>
  
    
    <div class="card">
      <a href="{{site.url}}{{site.baseurl}}/benchmark/" class='card-link'></a>
        <p class="heading">Benchmark</p>
        <p class="description">Track OpenSearch performance</p>
        <button class="last-link">Documentation &#x2192;</button>
      </div>  
  </div>
  
</div>


