<div class="code-tabs">
    <div class="tab-nav">
      <button class="tab-button active" onclick="switchTab(event, 'rest')" data-tab="rest">REST</button>
      <button class="tab-button" onclick="switchTab(event, 'python')" data-tab="python">Python</button>
    </div>
  
    <div id="rest" class="tab active">
      <div class="code-container">
{% highlight json %}
{{ include.rest | strip }}
{% endhighlight %}
        <div class="button-container">
          <button class="copy-button" onclick="copyCode(this)">Copy</button>
          <button class="copy-button" onclick="copyAsCurl(this)">Copy as cURL</button>
        </div>
      </div>
    </div>
  
    <div id="python" class="tab">
      <div class="code-container">
{% highlight python %}
{{ include.python | strip }}
{% endhighlight %}
        <div class="button-container">
            <button class="copy-button" onclick="copyCode(this)">Copy</button>
          </div>
      </div>
    </div>
  </div>