<div class="div-feedback">
    <div class="feedback-header">WAS THIS PAGE HELPFUL?</div>
    <div class="feedback-radio-div">
        <input id="yes" type="radio" name="radio-button" value="yes" class="feedback-button" data-action="enable_send_button">  
        <label class="feedback-radio feedback-button" for="yes">&#10004; Yes</label>
        <input id="no" type="radio" name="radio-button" value="no" class="feedback-button" data-action="enable_send_button">
        <label class="feedback-radio feedback-button" for="no">&#10006; No</label>
    </div>
    <div class="feedback-text-header">Tell us why</div>
    <textarea id="comment" class="feedback-text" placeholder="Enter comment" maxlength="350"></textarea>
    <div class="text-small num-chars" id="num-chars">350 characters left</div>
    <button id="send" class="send-button feedback-button" data-action="send_feedback" disabled>Send</button>
    <p class="text-small text-grey-dk-100 hidden" id="thank-you">Thank you for your feedback!</p>
    <p class="text-small text-grey-dk-100">Have a question? <a class="feedback-forum" data-action="forum_link_click" target="_blank" href="https://forum.opensearch.org/">Ask us on the OpenSearch forum</a>.</p>
    <p class="text-small text-grey-dk-100">Want to contribute? <a class="feedback-edit" data-action="edit_page_click" target="_blank" href="https://github.com/opensearch-project/documentation-website/edit/main/{{ page.path }}">Edit this page</a> or <a class="feedback-issue" data-action="submit_issue_click" target="_blank" href="https://github.com/opensearch-project/documentation-website/issues/new?assignees=&labels=untriaged&template=issue_template.md&title=%5BDOC%5D">create an issue</a>.</p>
</div>