<div class="div-feedback">
    <div class="feedback-header">WAS THIS PAGE HELPFUL?</div>
    <div>
        <button id="yes" type="button" value="yes" class="feedback-button">&#10004; Yes</button>
        <button id="no" type="button" value="no" class="feedback-button">&#10006; No</button>
        <p class="text-small text-grey-dk-100 hidden">Thank you for your feedback!</p>
    </div>
    <p class="text-small text-grey-dk-100">See a problem? Submit <a class="feedback-issue" href="https://github.com/opensearch-project/documentation-website/issues">issues</a> or <a class="feedback-edit" href="https://github.com/opensearch-project/documentation-website/edit/main/{{ page.path }}">edit this page</a> on <a href="https://github.com/opensearch-project/documentation-website/">GitHub</a>.</p>
</div>