<head>
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/gif.css" | relative_url }}">
</head>
<div class="object-and-details">
    <img src="{{site.url}}{{site.baseurl}}/images/alerting/chained-alerts.gif" alt="Animated: workflow for chained alerts" width="90%">
    <details>
      <!-- added role=button to summary to resolve iOS funkiness -->
      <summary role="button" aria-label="static image"></summary>
     <div class="object-and-details1">
        <img src="{{site.url}}{{site.baseurl}}/images/alerting/chained-alerts.jpg" alt="Static: workflow for chained alerts" width="90%">
      </div>
    </details>
  </div>