{% assign url_parts = page.url | split: "/" %}
{% if page.alert %}
<div role="banner" class="banner-alert">
  <div class="container">
    {{page.alert | markdownify}}
  </div>
</div>
{% endif %}
{% if site.data.alert.message %}
<div role="banner" class="banner-alert">
  <div class="container">
    {{site.data.alert.message | markdownify}}
  </div>
</div>
{% endif %}
<div id="remote-header-insertion-point"></div>
<script type="module">
  document.addEventListener('DOMContentLoaded', () => {
    console.log('content loaded');
    const headerUrl = 'http://localhost:4000/header_fragment.html';
    const insertionId = 'remote-header-insertion-point';
    const headers = {
      Accept: 'text/html',
    };
    const method = 'GET';
    const options = {
      method,
      headers,
    };
    console.log(`Header URL: ${headerUrl}`);
    console.log(`Insertion ID: ${insertionId}`);
    fetch(headerUrl, options).then(response => {
      if (response.ok) {
        console.log('Response is OK');
        return response.body;
      } else {
        console.log('Response is NOT OK');
        return 'MALDITA SEA';
      }
    }).then(body => {
      if (body) {
        return new Response(body, { headers: { "Content-Type": "text/html" } }).text();
      }
    }).then(response => {
      const div = document.createElement('div');
      div.innerHTML = response;
      document.getElementById(insertionId).append(div);
    }).catch(error => {
      console.error(JSON.stringify(error));
    });
  });  
</script>
