{% if page.alert %}
<div role="banner" class="banner-alert">
  <div class="container">
    {{ page.alert | markdownify }}
  </div>
</div>
{% endif %}
{% if site.data.alert.message %}
<div role="banner" class="banner-alert">
  <div class="container">
    {{site.data.alert.message | markdownify}}
  </div>
</div>
{% endif %}
<div role="banner" id="top">
  <div class="navigation-container">
    <a class="navigation-container--logo" href="{{ '/' | relative_url }}">
      OpenSearch
      {% include icons.html type='opensearch-logo-default-1' %}
    </a>
    <div class="menu-button">
      <i class="icon icon-reorder"></i>
      <i class="icon icon-close"></i>
      <span>Menu</span>
    </div>
    <div role="navigation" class="navigation-container--nested-nav-wrapper nav-menu-on">
      <ul class="navigation-container--nested-nav-wrapper--nested-nav">
        {% for nav_item in site.data.top_nav.items %}
        <li data-istoplevel="true">
          {%- unless nav_item.children -%}
          {%- assign nested_nav_item_wrapper_classname = "nested-nav--top-menu-item--wrapper__without-children" -%}
          {%- else -%}
          {%- assign nested_nav_item_wrapper_classname = "nested-nav-top-menu-item--wrapper__has_children" -%}
          {%- endunless -%}
          <div class="nested-nav--top-menu-item-wrapper {{nested_nav_item_wrapper_classname}}">
            <div class="nested-nav--top-menu-item-wrapper--link">
              <a data-isparent="true" {% if nav_item.url %} href="{{ nav_item.url }}" {% else %} href="#" {% endif %}>{{ nav_item.label }}</a>
            </div>
            {%- if nav_item.children -%}
            <div class="nested-nav--top-menu-item-wrapper--toggle">
              {% include redesign_buttons.html name='expand-collapse-toggle' %}
            </div>
            {%- endif -%}
          </div>
          {% if nav_item.children %}
          <ul>
            {%- for nav_child in nav_item.children -%}
            {% if nav_child.children %}
            {% assign li_classname = "nested-nav--top-menu-item__has-grandchildren" %}
            {% else %}
            {% assign li_classname = "nested-nav--top-menu-item__without-grandchildren" %}
            {% endif %}
            <li class="{{ li_classname }}">
              {%- unless nav_child.children -%}
              {% if nav_child.class_name %}
              <a href="{{ nav_child.url }}" data-ischild="true" class="{{ nav_child.class_name }}">{{ nav_child.label }}</a>
              {% else %}
              <a href="{{ nav_child.url }}" data-ischild="true">{{ nav_child.label }}</a>
              {% endif %}
              {%- else -%}
              {%- assign nested_nav_item_child_wrapper_classname = "nested-nav--top-menu-item--wrapper__has-children__has-grandchildren" -%}
              <div class="nested-nav--top-menu-item-wrapper__has-grandchildren--wrapper {{ nested_nav_item_child_wrapper_classname }}">
                <div class="nested-nav--top-menu-item-wrapper__has-grandchildren--wrapper--link">
                  {% if nav_child.class_name %}
                  <a href="{{ nav_child.url }}" data-ischild="true" class="{{ nav_child.class_name }}">{{ nav_child.label }}</a>
                  {% else %}
                  <a href="{{ nav_child.url }}" data-ischild="true">{{ nav_child.label }}</a>
                  {% endif %}
                </div>
                {%- if nav_child.children -%}
                <div class="nested-nav--top-menu-item-wrapper--toggle">
                  {% include redesign_buttons.html name='expand-collapse-toggle' %}
                </div>
                {%- endif -%}
              </div>
              {%- if nav_child.children -%}
              <ul>
                {%- for nav_grand_child in nav_child.children -%}
                <li>
                  <a href="{{ nav_grand_child.url }}" data-isgrandchild="true">{{ nav_grand_child.label }}</a>
                </li>
                {%- endfor -%}
              </ul>
              {%- endif -%}
              {%- endunless -%}
            </li>
            {%- endfor -%}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
        <li class="top-banner-search">
          <div class="top-banner-search--field-with-results">
            <div class="top-banner-search--field-with-results--field">
              <div class="top-banner-search--field-with-results--field--wrapper">
                <div class="top-banner-search--field-with-results--field--wrapper--search-component">
                  <div class="top-banner-search--field-with-results--field--wrapper--search-component--input-wrap">
                    <input type="text" id="search-input" class="top-banner-search--field-with-results--field--wrapper--search-component--search-input"
                           placeholder="Search for anything" aria-label="Search {{ site.title }}"
                           data-docs-version="latest" autocomplete="off"
                    >
                    <div class="top-banner-search--field-with-results--field--wrapper--search-component--search-spinner"><i></i></div>
                    <label for="search-input" class="top-banner-search--field-with-results--field--wrapper--search-component--search-label">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="top-banner-search--field-with-results--field--wrapper--search-component--search-icon" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                        <circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                      </svg>
                    </label>
                  </div>
                  <div id="search-results" class="top-banner-search--field-with-results--field--wrapper--search-component--search-results">
                    <div class="top-banner-search--field-with-results--field--wrapper--search-component--search-results-wrapper"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="top-banner-search--overlay"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
<script type="module">

  document.addEventListener('DOMContentLoaded', () => {
    const menu = document.querySelector('#top .nav-menu-on');
    const button = document.querySelector('#top .menu-button');
    button.addEventListener('click', () => {
      menu.classList.toggle('active');
      button.classList.toggle('active');
    });

    const isMobile = window.matchMedia('only screen and (max-width: 834px)').matches;
    const currentPageIsEventsList = /^\/events\/$/.test(window.location.pathname);

    function getDeviceAndLocationBasedEventsMenuItemURL() {
      if (!isMobile && !currentPageIsEventsList) {
        const now = new Date();
        const monthNumber = now.getUTCMonth() + 1;
        const year = now.getFullYear();
        const thisMonthCalendarUrl = `/events/calendar/${year}-${monthNumber < 10 ? `0${monthNumber}` : monthNumber}.html`;
        return thisMonthCalendarUrl;
      } else {
        return '/events/';
      }
    }

    // Initialize the calendar view menu item to target the current month
    // if not on mobile, and if the current page is not the events list page.
    // On mobile the Community -> Events menu item links to the non-calendar
    // events list page, and if the current page is the non-calendar events
    // list page regardless of the device then set that menu item to /events/index.html
    // which will allow for proper menu item highlighting.
    const eventsLinkSelector = 'a.events-page-menu-link__device-based';
    const eventsLinkElements = document.querySelectorAll(eventsLinkSelector);
    eventsLinkElements.forEach(eventsLink => {
      eventsLink.setAttribute('href', getDeviceAndLocationBasedEventsMenuItemURL());
    });

    // Add the in-category class to the navigation menu items that the current page belongs to.
    function highlightTopNavigationItems() {
      const highlightElement = (element) => {
        const HIGHLIGHT_CLASS_NAME = 'in-category';
        element?.classList?.add?.(HIGHLIGHT_CLASS_NAME);
      };
      const highlightParentOfChild = (childLink) => {
        const parentOfChild = childLink.parentElement.closest('li[data-istoplevel]');
        const topLevelLinkSelector = 'a[data-isparent]';
        const topLevelLink = parentOfChild.querySelector(topLevelLinkSelector);
        highlightElement(topLevelLink);
      };
      const highlightChildFromGrandchild = (grandChildLink) => {
        highlightElement(grandChildLink);
        const parentMenuItemSelector = 'li.nested-nav--top-menu-item__has-grandchildren';
        const parentMenuItem = grandChildLink.closest(parentMenuItemSelector);
        const parentMenuItemLink = parentMenuItem.querySelector('.nested-nav--top-menu-item-wrapper__has-grandchildren--wrapper--link > a');
        highlightElement(parentMenuItemLink);
        highlightParentOfChild(parentMenuItem);
      };

      const highlightChildWithoutGrandChildren = (childLink) => {
        highlightElement(childLink);
        highlightParentOfChild(childLink.parentElement);
      };

      const matchAndHighlight = (topElement, hrefSelector) => {
        const matchingElement = topElement.querySelector(hrefSelector);
        if (matchingElement) {
          if (matchingElement.hasAttribute('data-isgrandchild')) {
            highlightChildFromGrandchild(matchingElement);
          } else if (matchingElement.hasAttribute('data-ischild')) {
            highlightElement(matchingElement);
            highlightParentOfChild(matchingElement);
          } else if (matchingElement.hasAttribute('data-isparent')) {
            highlightElement(matchingElement);
          }
          return true;
        }
        return false;
      };

      // There are pages on the site that are not present in the top navigation header menu.
      // This is a mapping of those pages to what menu item should be highlighted when those pages
      // are the current page.
      const exceptionsOverrideMap = {
        ['/events/past.html']: getDeviceAndLocationBasedEventsMenuItemURL(),
        ['/new-partner.html']: '/partners/',
        ['/new-community-project.html']: '/community_projects/',
      };

      const thisPagePath = window.location.pathname;
      const topElement = document.getElementById('top');
      let exactMatchingMenuItemSelector = `a[href$="${thisPagePath}"]`;
      if ((typeof exceptionsOverrideMap[thisPagePath]) !== 'undefined') {
        const overridePath = exceptionsOverrideMap[thisPagePath];
        exactMatchingMenuItemSelector = `a[href$="${overridePath}"]`;
      }
      const exactMatchHighlighted = matchAndHighlight(topElement, exactMatchingMenuItemSelector);
      if (!exactMatchHighlighted) {
        const thisPagePathParts = thisPagePath.split('/');
        while ((typeof thisPagePathParts.pop()) !== 'undefined') {
          const pathOfRemainingParts = thisPagePathParts.join('/');
          const urlPathSelector = `a[href*="${pathOfRemainingParts}"]`;
          const matched = matchAndHighlight(topElement, urlPathSelector);
          if (matched) {
            break;
          }
        }
      }
    }
    highlightTopNavigationItems();
  });

</script>
<script type="module">
  document.addEventListener('DOMContentLoaded', () => {

    const EXPANDED_HEIGHT_PROPERTY = '--expanded-height';

    function getSubMenu(button) {
      const parentLI = button.closest('li');
      const childUL = parentLI.querySelector('ul');
      return childUL;
    }
    function initializeCustomMenuHeights(button) {
      const childUL = getSubMenu(button);
      const subExpandableMenus = childUL.querySelectorAll('.nested-nav--top-menu-item__has-grandchildren > ul');
      let subMenuHeightSum = 0;
      if (subExpandableMenus.length > 0) {
        Array.from(subExpandableMenus).reverse().forEach(subMenu => {
          if (subMenu.classList.contains('nested-nav--menu__mobile-hidden-collapsed')) {
            return;
          }
          const subMenuHeight = subMenu.scrollHeight;
          subMenu.style.setProperty(EXPANDED_HEIGHT_PROPERTY, `${subMenuHeight}px`);
          subMenu.classList.add('nested-nav--menu__mobile-hidden-collapsed');
        });
      }
      if (childUL?.classList?.contains?.('nested-nav--menu__mobile-hidden-collapsed')) {
        return;
      }
      const height = (childUL?.scrollHeight ?? 0) - subMenuHeightSum;
      childUL?.style?.setProperty?.(EXPANDED_HEIGHT_PROPERTY, `${height}px`);
      childUL?.classList?.add?.('nested-nav--menu__mobile-hidden-collapsed');
    }
    function onNestedNavMenuTransitionEnd(e) {
      const collapsedClass = 'nested-nav--menu__mobile-hidden-collapsed';
      const { target } = e;
      if (!target?.hasAttribute?.('expanded')) {
        target?.classList?.add?.(collapsedClass);
      }
    }

    function swapToggleButtonState(toggle) {
      const visibleClassName = 'opensearch-toggle-button-link__visible';
      const visibleSelector = `.${visibleClassName}`;
      const invisibleClassName = 'opensearch-toggle-button-link__invisible';
      const invisibleSelector = `.${invisibleClassName}`;
      const visibleLink = toggle.querySelector(visibleSelector);
      const invisibleLink = toggle.querySelector(invisibleSelector);
      visibleLink.classList.remove(visibleClassName);
      visibleLink.classList.add(invisibleClassName);
      invisibleLink.classList.remove(invisibleClassName);
      invisibleLink.classList.add(visibleClassName);
    }

    function onToggleButtonClick(e) {

      const toggle = e.currentTarget;
      swapToggleButtonState(toggle);
      const childUL = getSubMenu(toggle);
      const isAlreadyExpanded = childUL?.hasAttribute?.('expanded') ?? false;
      if (childUL.classList.contains('nested-nav--menu__mobile-hidden-collapsed')) {
        childUL?.classList?.remove?.('nested-nav--menu__mobile-hidden-collapsed');
      }
      window.setTimeout(() => {
        if (isAlreadyExpanded) {
          // If the menu is already expanded then the toggleAttribute
          // call is going to collapse.
          // Ensure that all (if any) grandchildren / sub menus are
          // also collapsed, and subtract their --expanded-height custom CSS
          // property value from the containing.
          const expandedSubMenu = childUL?.querySelectorAll('ul[expanded]');
          const expandedHeight = Number.parseInt(childUL.style.getPropertyValue(EXPANDED_HEIGHT_PROPERTY), 10);
          if (expandedSubMenu.length > 0) {
            let reducedExpandedHeight = expandedHeight;
            expandedSubMenu.forEach(subMenu => {
              const subMenuToggle = subMenu.parentElement.querySelector('.opensearch-toggle-button--wrapper');
              swapToggleButtonState(subMenuToggle);
              subMenu.toggleAttribute('expanded');
              const subMenuExpandedHeightPropertyValue = subMenu.style.getPropertyValue(EXPANDED_HEIGHT_PROPERTY);
              const numericSubMenuExpandedHeight = Number.parseInt(subMenuExpandedHeightPropertyValue, 10);
              reducedExpandedHeight -= numericSubMenuExpandedHeight;
            });
            childUL.style.setProperty(EXPANDED_HEIGHT_PROPERTY, `${reducedExpandedHeight}px`);
          } else {
            // Subtract the --expanded-height of the collapsing menu from the --expanded-height of the enclosing parent.
            // If there is an expandable / collapsable parent.
            const expandedParentMenu = childUL?.parentElement?.closest?.('ul[expanded]');
            if (expandedParentMenu) {
              const parentMenuExpandedHeight = expandedParentMenu.style.getPropertyValue(EXPANDED_HEIGHT_PROPERTY);
              const numericExpandedHeight = Number.parseInt(parentMenuExpandedHeight, 10);
              const reducedExpandedHeight = numericExpandedHeight - expandedHeight;
              const formattedExpandedHeight = `${reducedExpandedHeight}px`;
              expandedParentMenu.style.setProperty(EXPANDED_HEIGHT_PROPERTY, formattedExpandedHeight);
            }
          }
        } else {
          // If the menu is not yet expanded then ensure that
          // the expandedHeight is added to any parent expandable
          // list, if any.
          const expandedHeightPropertyValue = childUL?.style?.getPropertyValue?.(EXPANDED_HEIGHT_PROPERTY) ?? '';
          const numericExpandedHeight = Number.parseInt(expandedHeightPropertyValue, 10);

          const childULParent = childUL?.parentElement;
          if (childULParent) {
            if (childULParent.classList.contains('nested-nav--top-menu-item__has-grandchildren')) {
              const containingUL = childULParent.closest('ul');
              if (containingUL) {
                const expandedHeight = containingUL.style.getPropertyValue(EXPANDED_HEIGHT_PROPERTY);
                if (expandedHeight !== '') {
                  const parentPixelHeight = Number.parseInt(expandedHeight, 10);
                  const totalParentPixelHeightForParent = parentPixelHeight + numericExpandedHeight;
                  const formattedParentPixelHeight = `${totalParentPixelHeightForParent}px`;
                  containingUL.style.setProperty(EXPANDED_HEIGHT_PROPERTY, formattedParentPixelHeight);
                }
              }
            }
          }
        }
        childUL?.toggleAttribute?.('expanded');
      }, 60);
    }

    const topNavigationToggleButtons = document.querySelectorAll('#top .opensearch-toggle-button--wrapper');
    for (let i = 0; i < topNavigationToggleButtons.length; ++i) {
      const button = topNavigationToggleButtons[i];
      initializeCustomMenuHeights(button);
      button.addEventListener('click', onToggleButtonClick);
    }
    document.querySelector('#top .navigation-container--nested-nav-wrapper--nested-nav')?.addEventListener?.('transitionend', onNestedNavMenuTransitionEnd);
  });
</script>
