<div class="home-card-container-wrapper">
  <p class="heading-main">OpenSearch and OpenSearch Dashboards</p>
  <div class="home-card-container">
    <div class="home-card">
      <a href="{{site.url}}{{site.baseurl}}/about/" class='card-link'></a>
        <div class="card-header">
          <div class="card-image">
            <img src="{{site.url}}{{site.baseurl}}/images/icons/OpenSearch-Core.png" alt="OpenSearch documentation icon" />
          </div>
          <p class="heading">All documentation</p>
        </div>
        <p class="description">Build your OpenSearch solution using core tooling and visualizations.</p>
        <p class="last-link">Documentation &#x2192;</p>
      </div>


    <div class="home-card">
      <a href="{{site.url}}{{site.baseurl}}/vector-search/" class='card-link'></a>
        <div class="card-header">
          <div class="card-image">
            <img src="{{site.url}}{{site.baseurl}}/images/icons/Vector-search-icon.avif" alt="Vector search icon" />
          </div>
          <p class="heading">Vector search</p>
        </div>
        <p class="description">Use vector database capabilities for more relevant search results.</p>
        <p class="last-link" >Documentation &#x2192;</p>
      </div>

    <div class="home-card">
      <a href="{{site.url}}{{site.baseurl}}/ml-commons-plugin/" class='card-link'></a>
        <div class="card-header">
          <div class="card-image">
            <img src="{{site.url}}{{site.baseurl}}/images/icons/OpenSearch-AI-1.png" alt="Machine learning icon" />
          </div>
          <p class="heading">Machine learning</p>
        </div>
        <p class="description">Power your applications with machine learning model integration.</p>
        <p class="last-link">Documentation &#x2192;</p>
      </div>


    <div class="home-card">
      <a href="{{site.url}}{{site.baseurl}}/dashboards/" class='card-link'></a>
        <div class="card-header">
          <div class="card-image">
            <img src="{{site.url}}{{site.baseurl}}/images/icons/OpenSearch-Dashboards-Square.png" alt="OpenSearch Dashboards icon" />
          </div>
          <p class="heading">OpenSearch Dashboards</p>
        </div>
        <p class="description">Explore and visualize your data using interactive dashboards.</p>
        <p class="last-link">Documentation &#x2192;</p>
      </div>
  </div>
  
</div>

<div class="home-card-container-wrapper">
  <p class="heading-main">Supporting tools</p>
  <div class="home-card-container">

    <div class="home-card">
      <a href="{{site.url}}{{site.latesturl}}/data-prepper/" class='card-link'></a>
        <div class="card-header">
          <div class="card-image">
            <img src="{{site.url}}{{site.baseurl}}/images/icons/OpenSearch-DataPrepper-1.png" alt="Data Prepper icon" />
          </div>
          <p class="heading">Data Prepper</p>
        </div>
        <p class="description">Filter, mutate, and sample your data for ingestion into OpenSearch.</p>
        <p class="last-link" >Documentation &#x2192;</p>
      </div>

    <div class="home-card">
      <a href="{{site.url}}{{site.latesturl}}/clients/" class='card-link'></a>
        <div class="card-header">
          <div class="card-image">
            <img src="{{site.url}}{{site.baseurl}}/images/icons/OpenSearch-Clients-Icon.avif" alt="Clients icon" />
          </div>
          <p class="heading">Clients</p>
        </div>
        <p class="description">Interact with OpenSearch from your application using language APIs.</p>
        <p class="last-link">Documentation &#x2192;</p>
      </div>


    <div class="home-card">
      <a href="{{site.url}}{{site.latesturl}}/benchmark/" class='card-link'></a>
        <div class="card-header">
          <div class="card-image">
            <img src="{{site.url}}{{site.baseurl}}/images/icons/OpenSearch-PerformanceBenchmarks-Icon-1.png" alt="OpenSearch Benchmark icon" />
          </div>
          <p class="heading">OpenSearch Benchmark</p>
        </div>
        <p class="description">Measure OpenSearch cluster performance metrics.</p>
        <p class="last-link">Documentation &#x2192;</p>
      </div>

    <div class="home-card">
      <a href="{{site.url}}{{site.latesturl}}/migration-assistant/" class='card-link'></a>
        <div class="card-header">
          <div class="card-image">
            <img src="{{site.url}}{{site.baseurl}}/images/icons/MigrationUpgrade_Color_Icon.svg" alt="Migration Assistant icon" />
          </div>
          <p class="heading">Migration Assistant</p>
        </div>
        <p class="description">Simplify your upgrade or migration to OpenSearch.</p>
        <p class="last-link">Documentation &#x2192;</p>
      </div>
  </div>
  
</div>
