<div class="home-card-container-wrapper">
  <p class="heading-main">OpenSearch and OpenSearch Dashboards</p>
  <div class="home-card-container">
    <div class="home-card">
      <a href="{{site.url}}{{site.baseurl}}/about/" class='card-link'></a>
        <p class="heading">All documentation</p>
        <p class="description">Build your OpenSearch solution using core tooling and visualizations.</p>
        <p class="last-link">Documentation &#x2192;</p>
      </div>
  
  
    <div class="home-card">
      <a href="{{site.url}}{{site.baseurl}}/vector-search/" class='card-link'></a>
        <p class="heading">Vector search</p>
        <p class="description">Use vector database capabilities for more relevant search results.</p>
        <p class="last-link" >Documentation &#x2192;</p>
      </div>
  
    <div class="home-card">
      <a href="{{site.url}}{{site.baseurl}}/ml-commons-plugin/" class='card-link'></a>
        <p class="heading">Machine learning</p>
        <p class="description">Power your applications with machine learning model integration.</p>
        <p class="last-link">Documentation &#x2192;</p>
      </div>
  
    
    <div class="home-card">
      <a href="{{site.url}}{{site.baseurl}}/dashboards/" class='card-link'></a>
        <p class="heading">OpenSearch Dashboards</p>
        <p class="description">Explore and visualize your data using interactive dashboards.</p>
        <p class="last-link">Documentation &#x2192;</p>
      </div>  
  </div>
  
</div>

<div class="home-card-container-wrapper">
  <p class="heading-main">Supporting tools</p>
  <div class="home-card-container">
    
    <div class="home-card">
      <a href="{{site.url}}{{site.latesturl}}/data-prepper/" class='card-link'></a>
        <p class="heading">Data Prepper</p>
        <p class="description">Filter, mutate, and sample your data for ingestion into OpenSearch.</p>
        <p class="last-link" >Documentation &#x2192;</p>
      </div>
  
    <div class="home-card">
      <a href="{{site.url}}{{site.latesturl}}/clients/" class='card-link'></a>
        <p class="heading">Clients</p>
        <p class="description">Interact with OpenSearch from your application using language APIs.</p>
        <p class="last-link">Documentation &#x2192;</p>
      </div>
  
    
    <div class="home-card">
      <a href="{{site.url}}{{site.latesturl}}/benchmark/" class='card-link'></a>
        <p class="heading">OpenSearch Benchmark</p>
        <p class="description">Measure OpenSearch cluster performance metrics.</p>
        <p class="last-link">Documentation &#x2192;</p>
      </div>  

    <div class="home-card">
      <a href="{{site.url}}{{site.latesturl}}/migration-assistant/" class='card-link'></a>
        <p class="heading">Migration Assistant</p>
        <p class="description">Simplify your upgrade or migration to OpenSearch.</p>
        <p class="last-link">Documentation &#x2192;</p>
      </div>  
  </div>
  
</div>
