{%  case include.name %}
    {% when 'download' %}
        <label for="download-button" class="redesign-buttons--label">Download OpenSearch</label>
        <div class="redesign-button--wrapper redesign-button--wrapper__complex-content">
            <a href="/downloads" class="redesign-button--anchor" id="download-button">
                <div class="redesign-button--contents redesign-buttons--download__large">
                    <div class="redesign-button--contents--text-slot">
                        <span class="download-button--mouseout-logo redesign-button--contents__mouseout">
                            {%- include icons.html type='opensearch-logo-darkmode' -%}
                        </span>
                        <span class="download-button--mouseover-logo redesign-button--contents__mouseover">
                            {%- include icons.html type='opensearch-logo-darkmode-2' -%}
                        </span>
                        <span class="download-button--disabled-logo redesign-button--contents__disabled">
                            {%- include icons.html type='opensearch-logo-monochrome-1' %}
                        </span>
                    </div>
                    <div class="redesign-button--contents--icon-slot">
                        <span class="download-button--mouseout-icon redesign-button--contents__mouseout">
                            {%- include icons.html type='angle-double-down' -%}
                        </span>
                        <span class="download-button--mouseover-icon redesign-button--contents__mouseover">
                            {%- include icons.html type='angle-double-down-2' -%}
                        </span>
                        <span class="download-button--disabled-icon redesign-button--contents__disabled">
                            {%- include icons.html type='angle-double-down-monochrome-1' -%}
                        </span>
                    </div>
                </div>
            </a>
        </div>
    {% when 'documentation' %}
        <label for="documentation-button" class="redesign-buttons--label">Learn More</label>
        <div class="redesign-button--wrapper redesign-button--wrapper__text-only">
            <a href="https://docs.opensearch.org/latest/" class="redesign-button--anchor" id="documentation-button">
                Documentation
            </a>
        </div>
    {% when 'documentation-dark' %}
        <label for="documentation-button" class="redesign-buttons--label">Learn More</label>
        <div class="redesign-button--wrapper redesign-button--wrapper__text-only__dark">
            <a href="https://docs.opensearch.org/latest/" class="redesign-button--anchor" id="documentation-button">
                Documentation
            </a>
        </div>
    {% when 'community' %}
        <label class="redesign-buttons--label">Join Our Community</label>
        <div class="redesign-button-pair--wrapper">
            <div class="redesign-button--wrapper redesign-button--wrapper__text-only">
                <a href="https://forum.opensearch.org/" class="redesign-button--anchor">
                    Forum
                </a>
            </div>
            <div class="redesign-button--wrapper redesign-button--wrapper__text-only">
                <a href="/slack.html" class="redesign-button--anchor">
                    Slack
                </a>
            </div>
        </div>
    {% when 'community-dark' %}
        <label class="redesign-buttons--label">Join Our Community</label>
        <div class="redesign-button-pair--wrapper">
            <div class="redesign-button--wrapper redesign-button--wrapper__text-only__dark">
                <a href="https://forum.opensearch.org/" class="redesign-button--anchor">
                    Forum
                </a>
            </div>
            <div class="redesign-button--wrapper redesign-button--wrapper__text-only__dark">
                <a href="/slack.html" class="redesign-button--anchor">
                    Slack
                </a>
            </div>
        </div>
    {% when 'project' %}
        <label for="project-button" class="redesign-buttons--label">Check Out Github</label>
        <div class="redesign-button--wrapper redesign-button--wrapper__complex-content">
            <a id="project-button"
                href="https://github.com/opensearch-project"
                target="_blank"
                class="redesign-button--anchor"
            >
                <div class="redesign-button--contents redesign-buttons--project__large">
                    <div class="redesign-button--contents--text-slot">
                        <span class="opensearch-button--label__combined-text-icon project-button--mouseout-logo redesign-button--contents__mouseout">
                            <span class="opensearch-button--label__combined-text-icon--icon">
                                {%- include icons.html type='github' -%}
                            </span>
                            <span class="opensearch-button--label__combined-text-icon--text">OpenSearch Project Org</span>
                        </span>
                        <span class="opensearch-button--label__combined-text-icon project-button--mouseover-logo redesign-button--contents__mouseover">
                            <span class="opensearch-button--label__combined-text-icon--icon">
                                {%- include icons.html type='github-mouseover' -%}
                            </span>
                            <span class="opensearch-button--label__combined-text-icon--text">OpenSearch Project Org</span>
                        </span>
                        <span class="opensearch-button--label__combined-text-icon project-button--disabled-logo redesign-button--contents__disabled">
                            <span class="opensearch-button--label__combined-text-icon--icon">
                                {%- include icons.html type='github-disabled' -%}
                            </span>
                            <span class="opensearch-button--label__combined-text-icon--text">OpenSearch Project Org</span>
                        </span>
                    </div>
                    <div class="redesign-button--contents--icon-slot">
                        <span class="project-button--mouseout-icon redesign-button--contents__mouseout">
                            {%- include icons.html type='chevron-right-circle' -%}
                        </span>
                        <span class="project-button--mouseover-icon redesign-button--contents__mouseover">
                            {%- include icons.html type='chevron-right-circle-mouseover' -%}
                        </span>
                        <span class="project-button--disabled-icon redesign-button--contents__disabled">
                            {%- include icons.html type='chevron-right-circle-disabled' -%}
                        </span>
                    </div>
                </div>
            </a>
        </div>
    {% when 'expand-collapse-toggle' %}
        <div class="opensearch-toggle-button--wrapper">
            <a href="#" class="opensearch-toggle-button-link opensearch-toggle-button-link--untoggled opensearch-toggle-button-link__visible">
                {% include icons.html type='plus' %}
            </a>
            <a href="#" class="opensearch-toggle-button-link opensearch-toggle-button-link--toggled opensearch-toggle-button-link__invisible">
                {% include icons.html type='minus' %}
            </a>
        </div>
    {% when 'opensearchcon-stay-informed' %}
        <div class="redesign-button--wrapper redesign-button--wrapper__text-with-icon">
            <a href="https://opensearchcon2024interest.splashthat.com/" class="redesign-button--anchor" id="opensearchcon-stay-informed-button">
                <div class="redesign-button--contents redesign-buttons--opensearchcon-stay-informed__large">
                    <div class="redesign-button--contents--icon-slot">
                        <span class="opensearchcon-stay-informed-button--mouseout-logo redesign-button--contents__mouseout">
                            {%- include icons.html type='opensearch-mark-darkmode' -%}
                        </span>
                    </div>
                    <div class="redesign-button--contents--text-slot">Stay Informed</div>
                </div>
            </a>
        </div>
    {% when 'opensearchcon-archive-2023' %}
        <div class="redesign-button--wrapper redesign-button--wrapper__text-only">
            <a href="/events/opensearchcon/2023/north-america/index.html" class="redesign-button--anchor" id="opensearchcon-archive-2023-button">
                OpenSearchCon 2023
            </a>
        </div>
    {% when 'opensearchcon-archive-2022' %}
        <div class="redesign-button--wrapper redesign-button--wrapper__text-only">
            <a href="/events/opensearchcon/2022/north-america/index.html" class="redesign-button--anchor" id="opensearchcon-archive-2022-button">
                OpenSearchCon 2022
            </a>
        </div>
    {% when 'upcoming-events-dark' %}
        <div class="redesign-button--wrapper redesign-button--wrapper__text-only__dark">
            <a href="/events/calendars/2024-01.html" class="redesign-button--anchor events-page-menu-link__device-based" id="upcoming-opensearch-events-button">
                Upcoming OpenSearch Events
            </a>
        </div>
    {% when 'opensearchcons' %}
        <div class="redesign-button--wrapper redesign-button--wrapper__text-with-icon">
            <a href="/events/opensearchcon/index.html" class="redesign-button--anchor" id="opensearchcon-stay-informed-button">
                <div class="redesign-button--contents redesign-buttons--opensearchcon-stay-informed__large">
                    <div class="redesign-button--contents--icon-slot">
                        <span class="opensearchcon-stay-informed-button--mouseout-logo redesign-button--contents__mouseout">
                            {%- include icons.html type='opensearch-mark-darkmode' -%}
                        </span>
                    </div>
                    <div class="redesign-button--contents--text-slot">OpenSearchCon</div>
                </div>
            </a>
        </div>
    {% when 'join-slack' %}
        <div class="redesign-button--wrapper redesign-button--wrapper__text-only__dark">
            <a target="_blank" href="https://join.slack.com/t/opensearch/shared_invite/zt-2bh052go7-1s_~5G1_alt9aLPmoRAINQ" class="redesign-button--anchor" id="join-slack-button">
                Join the Conversation
            </a>
        </div>
{% endcase %}
