<!-- spec_insert_start
{{#arguments}}
{{{key}}}: {{{value}}}
{{/arguments}}
-->
{{#content}}
{{{.}}}
{{/content}}
{{^content}}
<!-- API {{{api}}} does NOT have a {{{component}}} component -->
{{/content}}
<!-- spec_insert_end -->
