@mixin gradient-open-sky {
    background: linear-gradient(180deg, #E1FAFF 0%, #98E3F4 48.15%, #00B7E0 100%);
}

@mixin gradient-deep-blue-sea {
    background: linear-gradient(180deg, #016BA7 0%, #011C2D 97.92%);
}

@mixin thick-edge-left {
    border-left: $blue-200 10px solid;
}

* {
    box-sizing: border-box;
}

.main-content-wrap-home {
    width: 100%;
    background-color: $grey-lt-000;
    padding: 3rem 4rem;
  }

// Card style

.card-container-wrapper {
    @include gradient-open-sky;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 2rem;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    grid-auto-rows: 1fr;
    @include mq(md) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include mq(xl) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    @extend .panel;
    @include thick-edge-left;
    padding: 1rem;
    margin-bottom: 4rem;
    text-align: left;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    &:hover {
        transition: all 0.25s ease;
        box-shadow:2px 3px 5px #94A1A8;
        color: $blue-200;
        transform: scale(1.02);
        > .heading {
            color: $blue-vibrant-300;
        }
        > .last-link {
            text-decoration: underline;
            text-underline-offset: 3px;
        }
    }
}

@mixin heading-font {
    @include heading-sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: $blue-dk-300;
}

.heading {
    @include heading-font;   
    flex-grow: 1;
    flex-basis: 1rem;
    margin: 1rem 0 1.5rem 0;
}

.heading-main {
    @include heading-font;
    margin: 0;
    padding: 3rem 0 0 2rem;
}

.description {
    margin-top: auto;
}

.last-link {
    height: 24px;
    margin-top: auto;
    margin-bottom: 1rem;
    padding: 0;
    background-color: white;
    border: none;
    color: $blue-200;
    text-align: left;
    &:hover {
        transform: translateY(-1px);
        text-decoration: underline;
        text-underline-offset: 3px;
    }
}

.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

// Banner style

.os-banner {
    @extend .panel;
    @include gradient-deep-blue-sea;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    margin-bottom: 2rem;
    @include mq(md) {  
        margin-bottom: 4rem;
    }
}
  
  .banner-head {
    @extend .panel;
    background-size: cover;  
  }
  
  .banner-text-div {
    margin: 1rem 1rem 0 1.5rem;
    padding: 0 1.5rem;
    border-style: none none none solid;
    border-color: $blue-lt-300;
    border-width: 4px;
    border-radius: 1px;
    max-width: 47rem;
    @include mq(md) {  
        margin: 2rem 4rem 0 4rem;
    }
  }
  
  .banner-text-header {
    font-size: 2.1rem;
    font-family: "Open Sans";
    font-weight: 300;
    @include mq(md) {
        font-size: 3.2rem;
    }
  }
  
  .banner-text-description {
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
    line-height: 2.25rem;
    @include mq(md) {
        font-size: 1.3rem;
    }
  }
  
  .btn-contribute {
    @extend .btn-general;
    margin-bottom: 2rem;
    margin-right: 4rem;
    padding: 1rem 2rem;
    float: right;
    color: $blue-dk-300;
    font-size: 1.13rem;
    box-shadow: 2px 3px 5px #000000;
    &:hover {
      box-shadow: 2px 3px 5px $blue-dk-300 !important;
    }
  }
  
  .btn-contribute span {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }