.object-and-details {
    display: inline-block;
    position: relative;
  }
  
  summary {
    color: #fff;
    background: #000;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 2;
    border-radius: 50%;
    background-image: url("https://assets.codepen.io/128034/pause_circle_filled-24px.svg");
    background-size: 90% auto;
    background-repeat: no-repeat;
    background-position: center;
     background-color:white;
  }
  
  [open] summary {
    background-image: url("https://assets.codepen.io/128034/play_circle_filled-24px.svg");
    box-shadow: 0 0 0 2px #fff;
    background-color:white;
  }
  
  /* for blink/webkit */
  details summary::-webkit-details-marker 
  { display:none; }
  /* for firefox */
  details > summary:first-of-type {
  list-style:none}
  
  summary + * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    padding-top: 3rem;
    background: #fff;
    color: #fff;
    overflow-y: auto;
  }
  
  summary + * a {
    color: #fff;
  }
  summary:focus {
      box-shadow: 0 0 0 0.25rem #F5F7FA;
    outline:transparent;
    left: auto;
  }
  
  .object-and-details1 img {
    display: inline-block;
    position: absolute;
    top:0px;
    left:0px;
    overflow: visible;
  }