---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="svg-arrow-right" viewBox="0 0 24 24">
      <title>Expand</title>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>
    </symbol>
  </svg>

  {% include header.html %}


<div class="main-content-wrap-home">
  <div id="main-content" class="main-content" role="main">
      {{ content }}
    
    <a class="top-link" href="#top">
      <svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg>
    </a>
  </div>
</div>

  {% include footer.html %}
  <script src="{{ '/assets/js/search.js' | relative_url }}"></script>
</body>
</html>
