name: Jekyll Build Verification

on: [pull_request]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.0'
        bundler-cache: true
    - run: |
        JEKYLL_LINK_CHECKER=internal bundle exec jekyll build --future
